    /* CSS Reset */
    body {

        font-family: 'Noto Sans JP', sans-serif;
        color: white;
        margin: 0px;
        padding: 0px;
        height: 1400px;
        background: url('barbell2.jpg');
        background-attachment: fixed;  
        
    }
    .header{
        position: sticky;
        top: 0px;
    }

    .left {
        position: absolute;
        left: 30px;
        top: 12px;
        display: inline-block;
        font-family: 'Belanosima', sans-serif;
    }
  

    .left img {
        width: 80px;
        padding: 15px 18px;
        filter: invert(86%);
    }

    .left div {
        text-align: center;
        line-height: 1px;
        font-size: 24px;
    }

    .mid {
        display: block;
        width: 40%;
        margin: 12px auto;
        border-radius: 20px;
        font-size: 20px;
    }

    .right {
        position: absolute;
        right: 34px;
        top: 29px;
        display: inline-block;
        
    }

    .btn {
        margin: 0px auto;
        padding: 4px 14px;
        background-color: black;
        color: white;
        border-radius: 9px;
        border: 2px solid grey;
        font-size: 16px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: rgb(50, 46, 46);
    }

    .navbar {
        display: inline-block;
    
    }

    .navbar li {
        display: inline-block;
        font-size: 15px;

    }

    .navbar li a {
        color: rgb(247, 247, 247);
        text-decoration: none;
        padding: 34px 10px;
    }

    .navbar li a:hover,
    .navbar li a:active {
        color: burlywood;
        text-decoration: underline;
        font-size: 17px;

    }

    .container {
        border: 3px solid grey;
        margin: 106px 36px;
        padding: 1px;
        width: 45%;
        border-radius: 28px;
        font-size: 30px;
        position: fixed;
    }

    .container h2 {
        text-align: center;
        color: rgb(79, 76, 76);
    }

    .form-group input {
        text-align: center;
        display: block;
        padding: 7px 39px;
        margin: 12px 201px;
        font-size: 16px;
        border: 3px solid grey;
        border-radius: 16px;
        
    }

    .container button {
        margin-top: 20px;
        display: block;
        margin-left: 190px;
        width: 44%;
        height: 41px;
        padding-right: 19px;
        border-radius: 23px;
    }

    .scroll-box {
        float: right;
        width: 700px;
        height: 350px;
        overflow: auto;
        border: 3px solid grey;
        padding: 20px;
        position:absolute;
        right: 30px;
        margin-top: 130px;
        border-radius: 20px;
        color: grey;
        position: fixed;
    }

    .scroll-box h2 {
        text-align: center;
        color: rgb(255, 255, 255);
    }

    .scroll-box h3 {
        text-align: center;
        color: rgb(255, 255, 255);
        font-weight: 900 ;
    }

    .bold{
        color: rgb(255, 255, 255);
     }

    #heading{
        float:right;
        margin-top: 1250px;
        margin-left: 700px;
        text-align: center;
        justify-content: center;
        align-items: center;
     }
     

    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        margin-top: 550px;
        position: fixed;
        width: 100%;
    }
    